<div class="main">
  <div class="container-table">
    <app-filter class="filter-box" (search)="searchBy($event)" [categories]="CATEGORIES"></app-filter>
    <div class="cont-search-box-table">
      <app-search-box (search)="searchBy($event)" class="search-box"></app-search-box>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="client">
          <th (click)="orderBy('client')" mat-header-cell *matHeaderCellDef><div class="cont-th"><div>CLIENT</div><div class="icon-head-tablet"><mat-icon style="vertical-align: middle">arrow_drop_up</mat-icon><mat-icon style="vertical-align: middle">arrow_drop_down</mat-icon></div></div> </th>
          <td mat-cell *matCellDef="let element"> {{element.client}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef><div class="cont-th"><div>NAME</div><div class="icon-head-tablet"><mat-icon style="vertical-align: middle">arrow_drop_up</mat-icon><mat-icon style="vertical-align: middle">arrow_drop_down</mat-icon></div></div> </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef><div class="cont-th"><div>CATEGORY</div><div class="icon-head-tablet"><mat-icon style="vertical-align: middle">arrow_drop_up</mat-icon><mat-icon style="vertical-align: middle">arrow_drop_down</mat-icon></div></div> </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>      

    </div>
    
    
  </div>

</div>

  
  