<div class="main">
  <div style="height:50px;background-color: #1d3d7c;">

    <ul class="infobox_header_wrapper" style="display: flex;align-items: center;justify-content: flex-end;color: white;gap: 28px;margin: 0px 10px;
    position: relative;
    top: 13px;">
      <li><a style="color: white;" href="tel:3053742500"> <i class="fas fa-mobile" aria-hidden="true"></i> (305)
          374-2500</a></li>
      <li>
        <a style="color: white;" href="mailtop:contact@brandinstitute.com"><i class="far fa-comment-alt"></i>
          contact@brandinstitute.com</a>
      </li>
      <li><a style="color: white;" href="/#contact"><i class="fas fa-map-marker"></i> Locations</a></li>
    </ul>

  </div>

  <img src="./assets/Logo-BI.png" alt="Logo" class="site_logo" style="position: relative;
  width: 160px;
  left: 210px;
  top: 10px;">

  <ul id="responsive-menu" class="nav navbar-nav pull-right" style="color: white;gap: 28px;
position: relative;
top: 13px;">
    <li id="menu-item-1217"
      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home parent_menu_bizberg">
      <a href="http://websitearea8.brandinstitute.com"><span class="eb_menu_title">Home</span></a>
    </li>
    <li id="menu-item-1218"
      class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-203 current_page_item parent_menu_bizberg">
      <a href="http://websitearea8.brandinstitute.com/about/"><span class="eb_menu_title">About</span></a>
    </li>
    <li id="menu-item-1470" class="menu-item menu-item-type-post_type menu-item-object-page parent_menu_bizberg">
      <a href="http://websitearea8.brandinstitute.com/solutions/"><span class="eb_menu_title">Solutions</span></a>
    </li>
    <li id="menu-item-310" class="menu-item menu-item-type-custom menu-item-object-custom parent_menu_bizberg">
      <a href="https://www.brandinstitute.com/newweb/experience.asp"><span class="eb_menu_title">Experience</span></a>
    </li>
    <li id="menu-item-311" class="menu-item menu-item-type-custom menu-item-object-custom parent_menu_bizberg">
      <a href="http://websitearea8.brandinstitute.com/press-room/"><span class="eb_menu_title">Press Room</span></a>
    </li>
    <li id="menu-item-394" class="menu-item menu-item-type-custom menu-item-object-custom parent_menu_bizberg">
      <a href="http://websitearea8.brandinstitute.com/#contact"><span class="eb_menu_title">Contact</span></a>
    </li>
  </ul>


  <h1 style="position: relative;
  width: 6160px;
  left: 210px;
  top: 10px;font-size: 50px;">Healthcare Experience</h1>
  <div style="display: flex;gap: 30px;">
    <div>
      <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1661742478066"
        style="display: flex;gap: 200px;position: relative;left:211px">
        <div class="wpb_column vc_column_container vc_col-sm-3">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <h4 style="text-align: left">
                    <a style="color: #f37609;font-size: 30px;"
                      href="https://www.brandinstitute.com/newweb/experience.asp"><strong>Healthcare</strong></a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <h4 style="text-align: left">
                    <strong><a style="color: #f37609;font-size: 30px;"
                        href="https://www.brandinstitute.com/newweb/experience-consumer.asp">Consumer</a></strong>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <h4 style="text-align: left">
                    <a style="color: #f37609;font-size: 30px;"
                      href="https://www.brandinstitute.com/newweb/experience-nonprop.asp"><strong>Nonproprietary</strong></a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wpb_wrapper" style="width: 860px;
  position: relative;
  left: 210px;
  color: grey;
  font-size: 21px;">
        <p>
          Including nonproprietary (USAN/INN) names, drug
          brand names, medical device names, OTC product
          names, and COVID-19 vaccines, repurposed drugs, and
          diagnostics! We name over 75% of nonproprietary
          (USAN/INN) and drug brand name approvals worldwide!
        </p>
      </div>
    </div>
    <div>
      <div class="vc_single_image-wrapper vc_box_border_grey">
        <img src="./assets/Healthcareexperience.png" style="width: 350px;
        position: relative;
        left: 200px;
    }"
          class="vc_single_image-img attachment-full" alt="" loading="lazy" title="about6">
      </div>
    </div>
  </div>
<div style="display: grid;place-content: center;">
  <div id="totalnumbers" class="vc_row wpb_row vc_row-fluid vc_custom_1663857020188 vc_column-gap-15"
   style="height:200px;background-color: #1d3d7c;width: 1200px;display: grid;place-content: center;border-radius: 20px;">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
      <div class="vc_column-inner vc_custom_1663125032192"  style="display: flex;gap:200px">
        <div class="wpb_wrapper vc_col-sm-4">
          <div id="ultimate-heading-835763337f4eb3428" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-835763337f4eb3428 uvc-8501" data-hspacer="no_spacer" data-halign="center" style="text-align: center">
            <div class="uvc-heading-spacer no_spacer" style="/about/top"></div>
            <div class="uvc-main-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading-835763337f4eb3428 h2" data-responsive-json-new="{&quot;font-size&quot;:&quot;&quot;,&quot;line-height&quot;:&quot;&quot;}">
              <h2 style="font-family:'Raleway';font-weight:800;color:#ffffff;margin-bottom:20px;">
                1238
              </h2>
            </div>
          </div>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <h4 style="color: #ffffff; text-align: center">
                Healthcare Clients
              </h4>
            </div>
          </div>
        </div>
        <div class="wpb_wrapper vc_col-sm-4">
          <div id="ultimate-heading-835763337f4eb3428" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-835763337f4eb3428 uvc-8501" data-hspacer="no_spacer" data-halign="center" style="text-align: center">
            <div class="uvc-heading-spacer no_spacer" style="/about/top"></div>
            <div class="uvc-main-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading-835763337f4eb3428 h2" data-responsive-json-new="{&quot;font-size&quot;:&quot;&quot;,&quot;line-height&quot;:&quot;&quot;}">
              <h2 style="font-family:'Raleway';font-weight:800;color:#ffffff;margin-bottom:20px;">
                4150
              </h2>
            </div>
          </div>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
  <h4 style="color: #ffffff; text-align: center">Total Healthcare Names</h4>
            </div>
          </div>
        </div>
        <div class="wpb_wrapper vc_col-sm-4">
          <div id="ultimate-heading-835763337f4eb3428" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-835763337f4eb3428 uvc-8501" data-hspacer="no_spacer" data-halign="center" style="text-align: center">
            <div class="uvc-heading-spacer no_spacer" style="/about/top"></div>
            <div class="uvc-main-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading-835763337f4eb3428 h2" data-responsive-json-new="{&quot;font-size&quot;:&quot;&quot;,&quot;line-height&quot;:&quot;&quot;}">
              <h2 style="font-family:'Raleway';font-weight:800;color:#ffffff;margin-bottom:20px;">
                1388
              </h2>
            </div>
          </div>
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
  <h4 style="color: #ffffff; text-align: center">USAN/INN Names</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <h3 id="Graph" style="color:#64686d;text-align: center;font-family: Raleway;
  font-size: 35.16px;
  font-weight: 800;
  line-height: 1;
  text-transform: inherit;">Selected Clients</h3>
  <div class="container-table">
    <app-filter class="filter-box" (search)="searchBy($event)" [categories]="CATEGORIES"></app-filter>
    <div class="cont-search-box-table">
      <app-search-box (search)="searchBy($event)" class="search-box"></app-search-box>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="client">
          <th (click)="orderBy('client')" mat-header-cell *matHeaderCellDef>
            <div class="cont-th">
              <div>CLIENT</div>
              <div class="icon-head-tablet">
                <mat-icon style="vertical-align: middle">arrow_drop_up</mat-icon>
                <mat-icon style="vertical-align: middle">arrow_drop_down</mat-icon>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.client}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            <div class="cont-th">
              <div>NAME</div>
              <div class="icon-head-tablet">
                <mat-icon style="vertical-align: middle">arrow_drop_up</mat-icon>
                <mat-icon style="vertical-align: middle">arrow_drop_down</mat-icon>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>
            <div class="cont-th">
              <div>CATEGORY</div>
              <div class="icon-head-tablet">
                <mat-icon style="vertical-align: middle">arrow_drop_up</mat-icon>
                <mat-icon style="vertical-align: middle">arrow_drop_down</mat-icon>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>


  </div>

</div>